<header class="navbar navbar-fixed-top navbar-inverse">
  <!-- HTML要素に対して、'class'は何度でも使えるが、'id'はページ内で一度しか使えない。 -->
  <div class="container">
    <%= link_to "Attendance App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>